// Colors

/** @color Dandelion */
$color--grey-1: #f5f5f5;
$color--blue-1: #32aaad;
$color--blue-2: #2b4786;
$color--red-1: #fb6b59;
$font-color-1: #2b4786;

$font-color-2: #858585;
$color--brown-lightest: #ecd9d1;
$color--dark: #1e1e1e;

$color--lightest: #fff;